In [1]:
import pandas as pd

#### Create Shell script for linux

In [2]:
coords = (
    pd.read_excel('komb25.xlsx')
)
coords.head(3)

   map_name    xmin    xmax    ymin    ymax
0  Komb1011  672500  690000  290000  302000
1  Komb1012  690000  707500  290000  302000
2  Komb1031  672500  690000  278000  290000

In [16]:
fout = open('convert_vegi_on_linux.sh', 'w') 
for ind, row in coords.iterrows():
    x0 = row.xmin + 2000_000
    y0 = row.ymin + 1 + 1000_000
    x1 = row.xmax + 2000_000
    y1 = row.ymax + 1 + 1000_000
    map_name = row.map_name
    dest = 'lv95_' + map_name[4:] + '.bil'
    cmd = f'gdal_translate -of EHdr -projwin {x0} {y1} {x1} {y0} Vegetationshoehenmodell_LFI_ID164_19_LV95.tif {dest}\n'
    fout.write(cmd)
fout.close()

In [13]:
gdal_translate -of EHdr -projwin 2672500  1254001 2690000 1242001  /mnt/d/source/Vegetationshoehenmodell_LFI_ID164_19_LV95/Vegetationshoehenmodell_LFI_ID164_19_LV95.tif ../25k/veg_1019.bil

SyntaxError: invalid syntax (<ipython-input-13-9a5d7928cada>, line 1)